@import "tailwindcss";

@theme {
  --color-brand-yellow: #f2c94c;
  --color-brand-blue: #003049;
  --color-brand-beige: #f5f5dc;
  --color-brand-orange: #f2994a;
  --color-brand-alert: #eb5757;
  --color-brand-blue-2: #219ebc;
  --color-brand-blue-3: #8ecae6;
}

html {
  scroll-behavior: smooth;
}
